<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<!-- Footer -->
	<footer class="page-footer font-small blue-grey lighten-5"
		style="margin-top: 10%; font-size: 13.5px;" th:fragment="footer">

		<div style="background-color: #21d192;">
			<div class="container">

				<!-- Grid row-->
				<div class="row py-4 d-flex align-items-center">
					<!-- Grid column -->


					<!-- Grid column -->

				</div>
				<!-- Grid row-->

			</div>
		</div>

		<!-- Footer Links -->
		<div class="container text-center text-md-left mt-5">

			<!-- Grid row -->
			<div class="row mt-3 dark-grey-text">

				<!-- Grid column -->
				<div class="col-md-3 col-lg-4 col-xl-3 mb-4">

					<!-- Content -->
					<h6 class="text-uppercase font-weight-bold">Maktabti</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a href="home">Maktabti</a> se consacre à rendre le monde meilleur,
						un livre à la fois. Que vous vouliez manger plus sainement,
						rompre avec une habitude,
						voir le monde différemment ou que vous souhaitiez une lecture incroyable,
						jetez un ?il à ces livres qui changeront votre vie.
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Produits</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a class="dark-grey-text" href="#!">Livres Populaire</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">Nouveaux Livres</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">Top Livres</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">Ancienne Literature</a>
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Lien Utiles</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<a class="dark-grey-text" href="#!">Votre Compte</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">Historique</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">Shipping Rates</a>
					</p>
					<p>
						<a class="dark-grey-text" href="#!">Aide</a>
					</p>

				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

					<!-- Links -->
					<h6 class="text-uppercase font-weight-bold">Contact</h6>
					<hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
						style="width: 60px;">
					<p>
						<i class="fa fa-home"></i> Tunis -Manar
					</p>
					<p>
						<i class="fa fa-envelope"></i> info@maktabti.tn
					</p>
					<p>
						<i class="fa fa-phone"></i> + 216 94232525
					</p>
					<p>
						<i class="fa fa-print"></i> + 216 95677575
					</p>

				</div>
				<!-- Grid column -->

			</div>
			<!-- Grid row -->

		</div>
		<!-- Footer Links -->
		<!-- Copyright -->
		<div class="footer-copyright text-center text-black-50 py-3">
			© 2021 Copyright: <a class="dark-grey-text" href="/">Maktabti</a>
		</div>
		<!-- Copyright -->
	</footer>
</body>
</html>
